<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form (submit)="onRegister(formRegister)" #formRegister="ngForm">
    <ion-item>
        <ion-label>name</ion-label>
        <ion-input type="text" name="name" ngModel></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>email</ion-label>
          <ion-input type="text" name="email" ngModel></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>password</ion-label>
            <ion-input type="password" name="password" ngModel></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit">Block Button</ion-button>
  </form>   
    
</ion-content>
